[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/config/rofi/rofimoji"]
	path = dotfiles/config/rofi/rofimoji
	url = https://github.com/fdw/rofimoji
