[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/config/rofi/kaomoji-rofi"]
	path = dotfiles/config/rofi/kaomoji-rofi
	url = https://gitlab.com/ceda_ei/kaomoji-rofi
