configuration {
	modi: "run,drun,window,filebrowser";
	font: "Hack Nerd Font 12";
	location: 0;
	yoffset: -20;
	xoffset: 0;
	show-icons: true;
	terminal: "st";
	theme: "~/.config/rofi/themes/rofi-default.rasi";

  filebrowser {
    directory: "/home/japorized";
    sorting-method: "name";
    directories-first: true;
  }
}
/* vim:ft=css */
