[Unit]
Description=Geary Email client

[Service]
Type=simple
ExecStart=/usr/bin/geary --hidden
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
