@import "colors.rasi"

window {
  background-color: @background;
  location: southeast;
  width: 500px;
  // height: 175px;
  border: 0;
  padding: 10px;
  children: [ mainbox ];
}

mainbox {
  border: 0;
  padding: 0;
  children: [ message, listview ];
}

message {
  margin: 5px 20px;
  padding: 1px;
}

textbox {
  text-color: @normal-foreground;
  padding: 0px 0px 20px 0px;
}

textbox-prompt-colon {
  expand: false;
  str: ":";
  margin: 0px 0.3em 0em 0em;
  text-color: @normal-foreground;
}

listview {
  fixed-height: true;
  border: 2px 0px 0px;
  border-color: @border-color;
  spacing: 2px;
  padding: 2px 0px 0px;
  lines: 1;
  columns: 8;
  cycle: true;
}

element {
  border: 0;
  padding: 15px 0;
  horizontal-align: 0.5;
  vertical-align: 0.5;
  children: [ element-text ];
}

element-text {
  horizontal-align: 0.5;
  vertical-align: 0.5;
  text-color: @normal-foreground;
  background-color: transparent;
}

element.normal.normal {
  background-color: @normal-background;
  text-color: @normal-foreground;
}

element.normal.urgent,
element-text.normal.urgent {
  background-color: @urgent-background;
  text-color: @urgent-foreground;
}

element.normal.active,
element-text.normal.active {
  background-color: @active-background;
  text-color: @active-foreground;
}

element.selected.normal,
element-text.selected.normal {
  background-color: @selected-normal-background;
  text-color: @selected-normal-foreground;
}

element.selected.urgent,
element-text.selected.urgent {
  background-color: @selected-urgent-background;
  text-color: @selected-urgent-foreground;
}

element.selected.active,
element-text.selected.active {
  background-color: @selected-active-background;
  text-color: @selected-active-foreground;
}

element.alternate.normal,
element-text.alternate.normal {
  background-color: @alternate-normal-background;
  text-color: @alternate-normal-foreground;
}

element.alternate.urgent,
element-text.alternate.urgent {
  background-color: @alternate-urgent-background;
  text-color: @alternate-urgent-foreground;
}

element.alternate.active,
element-text.alternate.active {
  background-color: @alternate-active-background;
  text-color: @alternate-active-foreground;
}

scrollbar {
  width: 4px;
  border: 0;
  handle-width: 8px;
  padding: 0;
}

sidebar {
  border: 2px 0px 0px;
  border-color: @border-color;
}

button {
  text-color: @normal-foreground;
}

button.selected {
  background-color: @selected-normal-background;
  text-color: @selected-normal-foreground;
}

inputbar {
  spacing: 0;
  text-color: @normal-foreground;
  padding: 1px;
}

case-indicator {
  spacing: 0;
  text-color: @normal-foreground;
}

entry {
  spacing: 0;
  text-color: @normal-foreground;
}

prompt {
  spacing: 0;
  text-color: @normal-foreground;
}
/* vim:ft=css */
